<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="marketing">
  <groups>
  <run>
  <include name = "Sanity"/>
  <include name = "Regression"/>
  <include name = "Sanity"/>
  </run>
  </groups>
    <classes>
      <class name="Com.Vtiger.Automation.TestScenarios.TestNGDemo.java"/>
	  <class name="test.testng.TestNGDemo.java"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="Leads">
  <groups>
  <run>
  <include name = "Sanity"/>
  <include name = "Regression"/>
  </run>
  </groups>
    <classes>
      <class name="Com.Ducat.Automation.Vtiger.TestNGDemo.TestNGDemo.java"/>
	  <class name="test.testng.TestNGDemo.java"/>
    </classes>
  </test>
</suite> <!-- Suite -->
